<div class="text-center">ログイン画面</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(url: login_url, scope: :session, local: true) do |f| %>
    
    <div class="form-group">
      <%= f.label :email, "メール" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.text_field :password, class: "form-control" %>
    </div>
    
    <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
    <%= link_to "新規登録はこちら", signup_path %>
    <% end %>
  </div>
</div>  